@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/_variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: initial;
  // background-color: #650e0e;
  background-color: #0b1319;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
  position: absolute;
  bottom: 22%;
  right: 2%;
  left: 2%;
  top: 40%;
}

.modal.dark {
  .modal-content {
    color: black;
    background-color: #e02e21;
  }
}

.modal.light {
  .modal-content {
    color: black;
    background-color: #00a0df !important;
  }
}

@-moz-keyframes color-change-light {
  10% {
    color: #d8dbdc;
  }
  50% {
    color: #72bdd4;
  }
  100% {
    color: #00a0df;
  }
}
@-ms-keyframes color-change-light {
  10% {
    color: #d8dbdc;
  }
  50% {
    color: #72bdd4;
  }
  100% {
    color: #00a0df;
  }
}
@-o-keyframes color-change-light {
  10% {
    color: #d8dbdc;
  }
  50% {
    color: #72bdd4;
  }
  100% {
    color: #00a0df;
  }
}
@keyframes color-change-light {
  10% {
    color: #d8dbdc;
  }
  50% {
    color: #72bdd4;
  }
  100% {
    color: #00a0df;
  }
}

@-moz-keyframes color-change-dark {
  10% {
    color: #efe8e7;
  }
  50% {
    color: #f08c85;
  }
  100% {
    color: #f44336;
  }
}

@-ms-keyframes color-change-dark {
  10% {
    color: #efe8e7;
  }
  50% {
    color: #f08c85;
  }
  100% {
    color: #f44336;
  }
}

@-o-keyframes color-change-dark {
  10% {
    color: #efe8e7;
  }
  50% {
    color: #f08c85;
  }
  100% {
    color: #f44336;
  }
}

@keyframes color-change-dark {
  10% {
    color: #efe8e7;
  }
  50% {
    color: #f08c85;
  }
  100% {
    color: #f44336;
  }
}

@media (max-width: 991px) {
  nav {
    background: #373c3e;
    & .navbar-collapse {
      position: absolute;
      width: 100%;
      z-index: 2;
      top: 60px;
      left: 0px;
      padding: 0px 26px;
      background: #3b4248;
    }
    & .circle {
      &.dark {
        background: #373c3e;
        & .react-switch-bg {
          background: #ea6e65 !important;
        }
        & .react-switch-handle {
          background: #f44336 !important;
        }
      }
      &.light {
        background: #373c3e;
        & .react-switch-bg {
          background: rgb(134, 211, 255) !important;
        }
        & .react-switch-handle {
          background: rgb(38, 147, 230) !important;
        }
      }
      height: 12px;
      width: 12px;
      border-radius: 25px;
      position: absolute;
      right: -16px;
      top: 12px;
    }
    & .navbar-nav {
      position: relative;
    }
  }
}

nav {
  background: #373c3e;
  & .navbar-brand {
    font-size: 22px;
    // font-weight: 400;
    // font-family: cursive;
    &.dark {
      color: #f44336 !important;
    }
    &.light {
      color: #00a0df !important;
    }
  }
  & .navbar-collapse > div a {
    background: #3b4248;
    &.dark {
      color: #f44336 !important;
    }
    &.light {
      color: #00a0df !important;
    }
  }
  & .circle {
    &.dark {
      background: #373c3e;
      & .react-switch-bg {
        background: #ea6e65 !important;
      }
      & .react-switch-handle {
        background: #f44336 !important;
      }
    }
    &.light {
      background: #373c3e;
      & .react-switch-bg {
        background: rgb(134, 211, 255) !important;
      }
      & .react-switch-handle {
        background: rgb(38, 147, 230) !important;
      }
    }
    height: 12px;
    width: 12px;
    border-radius: 25px;
    position: absolute;
    right: -16px;
    top: 12px;
  }
  & .navbar-nav {
    position: relative;
  }
}

.App {
  & .card {
    margin: 6px 6px;
    &.dark {
      background-color: #e02e21;
    }
    &.light {
      background-color: #00a0df;
    }
    & .location {
      color: #fff;
      &.dark {
        background-color: #a22a21;
        border-color: #dc3545;
      }
      &.light {
        background-color: #12496b;
        border-color: #00a0df;
      }
      & a {
        color: white;
      }
      & .gmap {
        background: url("./images/gmap.png");
        background-size: cover;
        width: 70px;
        margin-left: 30px;
        margin-bottom: 10px;
        height: 70px;
        border-radius: 15px;
        & a {
          // border: 2px solid red;
          border-radius: 15px;
          padding: 0 33px;
          padding-top: 0px;
          padding-bottom: 49px;
          margin: -1px;
          color: #0ea35f;
        }
      }
    }
    & .gap {
      background: white;
      margin: 30px 4px;
    }
    & .couple {
      font-size: 32px;
      font-family: cursive;
      font-weight: 900;
      color: #000000;
    }
    & .couple-text {
      font-size: 24px;
      font-family: cursive;
      font-weight: 600;
      color: #000000;
    }
    & .image-container {
      position: relative;
      &.dark {
        border: 1px solid #f44336;
      }
      &.light {
        border: 1px solid #00a0df;
      }
      box-shadow: 2px 12px 28px;
      border-radius: 10px;
      background-color: #0c0c0c !important;
      background-image: url("./images/giphy.gif");
      background-size: contain;
      width: 96%;
      margin: 5px auto;
      & .content {
        position: absolute;
        width: 100%;
        color: white;
        text-align: center;
        top: calc(35% - 18px);
        font-size: 26px;
        & .txt {
          font-size: 30px;
          color: #ffcdbb;
          &.light {
            -webkit-animation: color-change-light 3s infinite;
            -moz-animation: color-change-light 3s infinite;
            -o-animation: color-change-light 3s infinite;
            -ms-animation: color-change-light 3s infinite;
            animation: color-change-light 3s infinite;
          }
          &.dark {
            -webkit-animation: color-change-dark 3s infinite;
            -moz-animation: color-change-dark 3s infinite;
            -o-animation: color-change-dark 3s infinite;
            -ms-animation: color-change-dark 3s infinite;
            animation: color-change-dark 3s infinite;
          }
        }
      }
    }
    & .card-body {
      padding-top: 0;
      padding-bottom: 0;
      & .card-title {
        font-size: 25px;
        font-weight: 600;
        color: #000000;
      }
      & .card-text {
        font-size: 18px;
        font-weight: 500;
        color: #000000;
      }
    }
    & .wedding-container {
      & .wedding-card {
        & hr {
          background: white;
          margin-top: 8px;
        }
        &.dark {
          color: #f44336;
        }
        &.light {
          color: #00a0df;
        }
        background: #000000;
      }
    }
    & .count-down-container {
      background: black;
      margin: 4px 20px;
      @media (max-width: 375px) {
        margin: 4px 0;
      }
      & h2 {
        & a.dark {
          color: #f44336;
        }
        & a.light {
          color: #00a0df;
        }
      }
      & hr {
        background: white;
        width: 94%;
        margin-top: 8px;
      }
      & .count-down {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
        width: 100%;
        & .block {
          padding: 6px;
          border-radius: 3px;
          &.dark {
            background-color: #e02e21;
          }
          &.light {
            background-color: #00a0df;
          }
          display: inline-block;
          & span {
            padding: 15px;
            border-radius: 3px;
            &.dark {
              background-color: #a22a21;
            }
            &.light {
              background-color: #12496b;
            }
            display: inline-block;
            min-width: 64px;
          }
          & .smalltext {
            padding-top: 5px;
            font-size: 16px;
          }
        }
      }
    }
    & .time-line-container {
      & .time-line-header {
        background: black;
        color: #f44336;
        margin: 0 10px;
        & h5 {
          font-size: 25px;
          font-weight: 600;
          & a.dark {
            color: #f44336;
          }
          & a.light {
            color: #00a0df;
          }
        }
      }
      & .address {
        font-size: 18px;
        font-weight: 500;
        color: #000000;
        margin: 0 2px;
        text-align: center;
      }
      & .vertical-timeline::before {
        background: black !important;
      }
      & .vertical-timeline-element-subtitle {
        margin-top: 10px;
      }
    }
    & .contact {
      position: fixed;
      bottom: -50px;
      right: 15px;
      height: 70px;
      width: 70px;
      border-radius: 50px;
      padding: 22px 10px;
      color: white;
      background-image: url("./images/contact.png");
      background-size: contain;
      background-color: white;
      animation: move-up 1s linear forwards;
      box-shadow: 4px 4px 20px black;
      & div {
        font-size: 32px;
        margin: -8px 9px;
      }
    }
  }
}

.modal-content {
  & .modal-header {
    & .modal-title {
      font-size: 28px;
      font-weight: 500;
    }
  }
  & .modal-body {
    & .whatsup-container {
      margin-bottom: 6px;
      & .title {
        font-size: 20px;
        font-family: cursive;
        font-weight: 900;
      }
      .whatsup {
        background-image: url("./images/whatsup.png");
        display: inline-block;
        background-size: cover;
        width: 42px;
        margin-left: 6px;
        font-size: 26px;
        & a {
          padding: 4px 15px;
          color: transparent;
          text-decoration: none;
        }
      }
      & .card1 {
        display: inline-block;
        &.right {
          float: right;
        }
      }
    }
  }
}

@keyframes move-up {
  to {
    bottom: 20px; /* final resting position */
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes move-up {
  to {
    bottom: 20px; /* final resting position */
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes move-up {
  to {
    bottom: 20px; /* final resting position */
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
